<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JBlog 기본정보 관리</title>
    <Link rel="stylesheet" href="/css/theme.css">
</head>

<body background="/images/kubrickbgcolor.jpg">
<center>
    <table background="/images/kubrickheader.jpg" width="760" height="200" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height="60">&nbsp;</td>
        </tr>
        <!-- 블로그 제목과 태그 시작 -->
        <tr>
            <td height="60" class="blogtitle" th:text="${blog.title}"></td>
        </tr>
        <tr>
            <td height="20" class="blogtag" th:text="${blog.tag}"></td>
        </tr>
        <!-- 블로그 제목과 태그 끝 -->

        <tr>
            <td align="right" height="60">
                <a href="logout.do">로그아웃</a>&nbsp;&nbsp;
                <a th:href="@{/blog/view/myBlog}">내 블로그 메인</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
    </table>
    <table background="/images/kubrickbg.jpg" width="760" height="40" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height="10" colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td height="10" width="20">&nbsp;</td>
            <td width="530" valign="top" class="tdcontent">
                <!-- 메뉴 시작 -->
                <a class="title" th:href="@{/blog/managing/basic}"><b>기본설정</b></a>&nbsp;&nbsp;
                <a class="title" th:href="@{/category/view/managing}"><b>카테고리</b></a>&nbsp;&nbsp;
                <a class="title" th:href="@{/post/newPost}"><b>글작성</b></a>&nbsp;&nbsp;
                <a class="title" th:href="@{/blog/view/delete}"><b>블로그삭제</b></a>&nbsp;&nbsp;
                <!-- 메뉴 끝 -->
            </td>
        </tr>
        <tr>
            <td height="5">&nbsp;</td>
        </tr>
        <tr>
            <td height="10">&nbsp;</td>
            <td>
                <!-- 작업 화면  시작 -->
                <form th:action="@{/blog/update}" method="post" enctype="multipart/form-data" th:object="${blog}">
                    <table width="720" border="0" cellpadding="0" cellspacing="0">
                        <input type="hidden" name="id" th:value="${blog.id}"/>
                        <tr>
                            <td width="150" class="inputlabel">블로그 제목 :</td>
                            <td><input class="inputtext" type="text" size="40" name="title" th:field="*{title}" th:value="${blog.title}"></td>
                        </tr>
                        <tr>
                            <td width="150" class="inputlabel">블로그 태그 :</td>
                            <td><input class="inputtext" type="text" size="50" name="tag" th:field="*{tag}" th:value="${blog.tag}"></td>
                        </tr>
                        <tr>
                            <td width="150" class="inputlabel">메인페이지 포스트 수 :</td>
                            <td><input class="inputtext" type="text" size="4" name="cntDisplayPost"  th:field="*{cntDisplayPost}" th:value="${blog.cntDisplayPost}">개(1~20)</td>
                            <td th:if="${#fields.hasErrors('cntDisplayPost')}" th:errors="*{cntDisplayPost}"></td>
                        </tr>
                        <tr>
                            <td width="150" class="inputlabel">로고이미지 :</td>
                            <td>&nbsp;<img height="80" th:src="@{${'/images/logo/' + blog.fileName}}" border="0"></td>
                        </tr>
                        <tr>
                            <td width="150" class="inputlabel">&nbsp;</td>
                            <td>
                                <input class="inputtext" type="file" size="40" name="file" value="이미지 파일 찾기" >
                            </td>
                        </tr>
                        <tr>
                            <td height="40" colspan="10" align="center">
                                <input type="submit" value="확인"></td>
                        </tr>
                    </table>
                </form> <!-- 작업 화면  끝 -->
            </td>
        </tr>
        <tr>
            <td height="10" colspan="10">&nbsp;</td>
        </tr>
    </table>

    <table background="/images/kubrickfooter.jpg" width="760" height="63" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="blogfooter">J2EE 이야기 is powered by JBlog</td>
        </tr>
    </table>
</center>
</body>
</html>