<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JBlog 기본정보 관리</title>
    <Link rel="stylesheet" href="/css/theme.css">
</head>

<body background="/images/kubrickbgcolor.jpg">
<center>
    <table background="/images/kubrickheader.jpg" width="760" height="200" border="0" cellpadding="0" cellspacing="0">
        <tr>	<td height="60">&nbsp;</td></tr>
        <!-- 블로그 제목과 태그 시작 -->
        <tr>	<td height="60" class="blogtitle" th:text="${blog.title}"></td></tr>
        <tr>	<td height="20" class="blogtag" th:text="${blog.tag}"></td></tr>
        <!-- 블로그 제목과 태그 끝 -->
        <tr>	<td height="60">&nbsp;</td></tr>
    </table>

    <table background="/images/kubrickbg.jpg" width="760" height="300" border="0" cellpadding="0" cellspacing="0">
        <tr><td height="10">&nbsp;</td></tr>
        <tr>
            <td width="20">&nbsp;</td>
            <td width="530" valign="top" >
                <!-- CONTENT  !-->
                <table height="10" border="0" cellpadding="0" cellspacing="0" th:each="post : ${postList}">
                    <tr><span th:hidden="${post.postNum}"></span></tr>
                    <tr><td class="posttitle">
                        <a class="posttitle" href="blogmain_detail.html" th:href="@{/post/{postNum}(postNum=${post.postNum})}">
                            <span th:text="${post.title}" </span>
                        </a>
                    </td></tr>
                    <tr><td class="postdate">
                        <span th:text="${#temporals.format(post.regDate, 'yyyy-MM-dd HH:mm')}">2006/06/06</span>
                    </td></tr>
                    <tr><td class="postcontent">
                        <span th:text="${post.content}">
                        </span>
                    </td></tr>
                    <tr><td height="5">&nbsp;</td></tr>
                    <tr><td class="postwriter">posted by <span th:text="${post.id}"></span> in J2EE, 덧글 0</td></tr>
                    <tr><td height="5">&nbsp;</td></tr>
                    <tr><td height="5">&nbsp;</td></tr>
                    <!-- TBD Post line... -->
                </table>
                <!-- END CONTENT !-->
            </td>
            <td width="20">&nbsp;</td>
            <td width="190" valign="top">
                <!- - 로그인, 관리자 메뉴, 로고, 카테고리 시작 - ->
                <table cellpadding="0" cellspacing="0">
                    <tr><td>
                        <a th:if="${user == null}" th:href="@{/login}">로그인</a>&nbsp;&nbsp;<a th:if="${user != null && isMyBlog}"th:href="@{/blog/managing/basic}">블로그 관리</a></td></tr>
                    <tr><td height="5">&nbsp;</td></tr>
                    <tr><td><img height="80" th:src="@{${'/images/logo/' + blog.fileName}}" border="0"></td></tr>
                    <tr><td height="5">&nbsp;</td></tr>
                    <tr><td class="categorytitle">카테고리</td></tr>
                    <tr th:each="category : ${categoryList}">
                        <td class="categoryitem"><a class="title" href="#" th:text="${category.name}"></a></td>
                    </tr>
                    <tr><td height="5">&nbsp;</td></tr>
                    <tr><td align="center"><a th:href="@{/blog/view/list}"><img width="80" src="/images/logo.jpg" border="0"></a></td></tr>
                </table>
                <!-- 로그인, 관리자 메뉴, 로고, 카테고리 끝 -->
            </td>
        </tr>
    </table>
    <table background="/images/kubrickfooter.jpg" width="760" height="63" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="blogfooter">J2EE 이야기 is powered by JBlog</td>
        </tr>
    </table>
</center>

</body>
</html>