<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JBlog 회원가입</title>
    <Link rel="stylesheet" href="css/theme.css">
    <style>
        div,span {
            margin-left: 60px;
        }

        input {
            width: 180px;
            height: 30px;
        }
    </style>
    <script>

        function password_Check() {
            if (document.join.passwordCheck.value) {
                if (document.join.password.value != document.join.passwordCheck.value) {
                    // document.getElementById('pwcheck2').innerHTML = "비밀번호를 맞게 입력해주세요!";
                    document.getElementsByClassName('pwcheck2')[0].innerHTML = "비밀번호를 맞게 입력해주세요!";
                    document.join.passwordCheck.focus();
                    document.join.passwordCheck.select();
                    return;
                } else {
                    // document.getElementById('pwcheck2').innerHTML = "비밀번호 일치!";
                    document.getElementsByClassName('pwcheck2')[0].innerHTML = "비밀번호 일치!";
                    return true;
                }
            }
        }

        function inputCheck() {
            if (!document.join.userid.value) {
                alert('아이디를 입력해주세요');
                document.join.userid.focus();
                return;
            }
            if (!document.join.password.value) {
                alert('비밀번호를 입력해주세요.');
                document.join.password.focus();
                return;
            }
            if (!document.join.passwordCheck.value) {
                alert('비밀번호 재확인칸을 입력해주세요.');
                document.join.passwordCheck.focus();
                return;
            }
            if (!document.join.name.value) {
                alert('이름을 입력해주세요.');
                document.join.name.focus();
                return;
            }
            document.join.submit();
        }

        // $(".myButton").on("click", function () {
        //     var data = {
        //         userid: $(".userid").val()
        //     }
        //
        //     $.ajax({
        //         type: "POST",
        //         url: "/idCheck",
        //         data: JSON.stringify(data), // http body데이터
        //         contentType: "application/json; charset=utf-8", // body데이터 어떤 타입
        //         dataType: "json", // 요청을 서버로해서 응답이 왔을 때
        //
        //         success: function (resp) {
        //             if (resp == "YES"){
        //                 $(".checkMsg").html('<p style="color:blue">사용가능한 ID 입니다!</p>');
        //             } else{
        //                 $(".checkMsg").html('<p style="color:red">이미 사용중인 ID 입니다. 다른 ID를 입력하세요.</p>');
        //                 $(".userid").val('');
        //                 $(".userid").focus();
        //             }
        //
        //
        //             // if ($.trim(resp) == "YES") {
        //             //     if ($('.userid').val() != '') {
        //             //         $('.checkMsg').html('<p style="color:blue">사용가능한 ID 입니다!</p>');
        //             //     }
        //             // } else {
        //             //     if ($('.userid').val() != '') {
        //             //         $('.checkMsg').html('<p style="color:red">이미 사용중인 ID 입니다. 다른 ID를 입력하세요.</p>');
        //             //         $('.userid').val('');
        //             //         $('.userid').focus();
        //             //     }
        //             // }
        //         },
        //         error: function (){
        //             alert("stringify err");
        //         }
        //     })
        // });
    </script>
</head>
<body>
<center>
    <h1>회원가입</h1>

    <form action="/join" method="post" name="join" id="join">
        <table bgcolor="#6495ed" width="400px" height=320 border="2" cellpadding="0"
               cellspacing="0">
            <tr>
                <td height="30" colspan="10" align="left" class="tdcontent">
                    <th:block th:if="${join == null}">
                        <span> 아이디 :<input type="text" class="userid" name="userid" size="20" placeholder="5글자 이상 입력해주세요"></span>
                        <div class="checkMsg" th:if="${message == null}"  style="color: red"></div>
                        <div class="checkMsg" th:if="${message != null}" th:text="${message}" style="color: red"></div>
                    </th:block>
                    <th:block th:if="${join != null}">
                        <span> 아이디 :<input type="text" class="userid" name="userid" th:value="${join.getUserid()}" placeholder="5글자 이상 입력해주세요"
                                           size="20"></span>
                        <div class="checkMsg" th:if="${message == null}"  style="color: red"></div>
                        <div class="checkMsg" th:if="${message != null}" th:text="${message}" style="color: red"></div>
                    </th:block>
                </td>
            </tr>
            <tr>
                <td height="30" colspan="10" align="left" class="tdcontent">
                    <th:block th:if="${join == null}">
                        <span> 비밀번호: <input type="password" name="password" size="20" placeholder="5글자 이상 입력해주세요"></span>
                    </th:block>
                    <th:block th:if="${join != null}">
                        <span> 비밀번호: <input type="password" name="password" th:value="${join.getPassword()}" size="20" placeholder="5글자 이상 입력해주세요"></span>
                    </th:block>
                </td>
            </tr>
            <tr>
                <td height="50" colspan="10" align="left" class="tdcontent">
                    <th:block th:if="${returnJoinPasswordCheck == null}">
                        <span> 비밀번호 확인: <input type="password" name="passwordCheck" size="20" placeholder="5글자 이상 입력해주세요"
                                               onmousemove="password_Check()"></span>
                        <span style="color: red" class="pwcheck2"></span>
                    </th:block>
                    <th:block th:if="${returnJoinPasswordCheck != null}">
                    <span> 비밀번호 확인: <input type="password" name="passwordCheck" size="20" placeholder="5글자 이상 입력해주세요"
                                           th:value="${returnJoinPasswordCheck}"
                                           onmousemove="password_Check()"></span>
                        <span style="color: red" class="pwcheck2"></span>
                    </th:block>
                </td>
            </tr>
            <tr>
                <td height="30" colspan="10" align="left" class="tdcontent">
                    <th:block th:if="${join == null}">
                        <span> 이 름 : <input type="text" name="name" size="20" placeholder="2글자 이상 입력해주세요"> </span>
                    </th:block>
                    <th:block th:if="${join != null}">
                        <span> 이 름 : <input type="text" name="name" th:value="${join.getName()}" size="20" placeholder="2글자 이상 입력해주세요"> </span>
                    </th:block>

                </td>
            </tr>
            <tr>
                <td height="25" colspan="10" align="center">
                    <button name="btn" onclick="inputCheck()">가입하기</button>
            </tr>
        </table>
    </form>
</center>
</body>
</html>
